<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8"></meta>
    <title>{{pageTitle}}</title>
  </head>

  <body>
  {{> header}}
    <h4>We'll be right back next year</h4>
  </body>
{{> footer}}
</html>
